/*------------------------------------*\
	GENERAL
\*------------------------------------*/

body {
	min-height: 100%;
	color: #2b2525;
}

.error {
	color: #f00;
}

.cf:before,
.cf:after{
	content:"";
	display:table;
}
.cf:after{
	clear:both;
}
.cf{
	zoom:1;
}

.center{
	text-align: center;
}

/*------------------------------------*\
	LISTS
\*------------------------------------*/

ul {
	margin: 0;
	padding: 0;
}

.projectHeader h2, .projectHeader h3, .projectHeader figure, .projectHeader hgroup, .progressTotal {
	float: left;
}

.headerList {
	list-style: none;
	margin: 0 0 2px;
}

.projectHeader {
	background: #4e4d4e;
	cursor: pointer;
	padding: 5px;
}

.projectHeader:hover {
	background: #383334;
}

.projectHeader.active {
	background: #ff0084;
}

.projectContent {
	height: 0;
	overflow: hidden;
}

.projectHeader hgroup {
	width: 500px;
	padding: 0;
	margin: 0;
}

.projectHeader h2 {
	font-size: 24px;
	font-size: 2.4rem;
	margin: 0;
	padding: 8px;
	background: #383334;
	color: #f7f7f7;
}

.projectHeader h3 {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: normal;
	margin: 0;
	padding: 14px 8px 0 0;
	float: right;
	color: rgba(255, 255, 255, 0.8);
}

.projectHeader figure {
	position: relative;
}

.projectHeader canvas {
	padding: 0;
	display: block;
	background: #eeecec;
}

.canvasText, .progressTotal {
	color: #383334;
	font-size: 24px;
	font-size: 2.4rem;
	position: absolute;
	top: 10px;
	text-shadow: 0 1px 0 rgba(255,255,255,.75);
}

.progressTotal {
	color: #f7f7f7;
	position: relative;
	margin-left: 10px;
}

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

#timeText h1 {
	font-family: "Contrail One", cursive;
	font-size: 50.0rem;
	color: #eee;
	bottom: -600px;
	position: fixed;
}

h2 {
	font-size: 2.0rem;
}

h3 {
	font-size: 1.6rem;
}

/*------------------------------------*\
	HEADER
\*------------------------------------*/

#headerBar {
	width: 100%;
	height: 50px;
	background-color: #eeecec;
}

#headerBar header {
	width: 960px;
	margin: 0 auto;
	font-size: 1.2rem;
	padding: 5px;

}

#headerBar header a {
	display: block;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	margin-top: 5px;
}

#headerBar header a:hover {
	text-decoration: underline;
}

#headerBar header p {
	margin: 0px;
}

#userNav {
	padding-left: 20px;
}

/*------------------------------------*\
	CONTENT
\*------------------------------------*/

#projectMembers ul {
	padding: 10px;
}

#projectMembers li {
	list-style-type: none;
	font-weight: bold;
	font-size: 1.5rem;
}

#content {
	width: 920px;
	margin: 10px auto;
	padding: 20px;
	background-color: #eee;
	height: auto;
}

#projectMembers {
	float: left;
	width: 350px;
	margin-right: 20px;
}

#myTimeLogs {
	float: left;
	width: 530px;
}

#myTimeLogs h2 {
	width: 320px;
	display: inline-block;
}

#myTimeLogs h3 {
	width: 140px;
	display: inline-block;
}

.infoBox{
	background: #dedede;	
	padding: 20px;
}	

/*------------------------------------*\
	FORM
\*------------------------------------*/

fieldset {
	border: none;
	padding: 0;
}

input:not([type=submit]):not([type=file]):not([type=reset]) {
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 2px;
	padding: 10px;
	box-shadow: inset 0 2px 5px rgba(0,0,0,.3);
}

.vForm {
	margin: 0 auto;
	padding: 30px 50px;
	font-size: 14px;
	font-size: 1.4rem;
}

.vForm input:not([type=submit]):not([type=file]):not([type=reset]) {
	display: block;
	margin: 10px 0;
}

select {
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 2px;
	box-shadow: inset 0 2px 5px rgba(0,0,0,.3);
	padding: 4px;
	margin: 10px 0;
	display: block;
	font-size: 1.3rem;
}

#topRow {
	float: left;
	width: 900px;
}

#itemView {
	padding:10px;
	width: 900px;
}

.rightPositioned {
	float: right;
}

#itemView .button {
	float: left;
}

.timeField {
	width: 40px;
}

#logTitle {
	width: 17px0px;
}

#myTimeLogs input{
	padding: 5px;
}


/*------------------------------------*\
	BUTTON
\*------------------------------------*/

.button {
	padding: 8px 15px;
	margin: 5px 5px 5px 0;
	border: none;
	border-radius: 8px;
	text-decoration: none;
	color: #000;
	font-size: 1.2rem;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,.75);
	box-shadow: 0 1px 2px rgba(0,0,0,.37);
	background: -moz-linear-gradient(top, #ebe9e9 0%, #c8c3c3 100%);
	background: -webkit-linear-gradient(top, #ebe9e9 0%,#c8c3c3 100%);
}

.button:hover, .button.active, .smallButton:hover, .smallButton.active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,.37);
	background: -moz-linear-gradient(bottom, #ebe9e9 0%, #c8c3c3 100%);
	background: -webkit-linear-gradient(bottom, #ebe9e9 0%,#c8c3c3 100%);
}

.positive {
	background: -moz-linear-gradient(top, rgba(207,245,114,1) 0%, rgba(161,219,21,1) 100%);
	background: -webkit-linear-gradient(top, rgba(207,245,114,1) 0%,rgba(161,219,21,1) 100%);
}
.positive:hover {
	background: -moz-linear-gradient(bottom, rgba(207,245,114,1) 0%, rgba(161,219,21,1) 100%);
	background: -webkit-linear-gradient(bottom, rgba(207,245,114,1) 0%,rgba(161,219,21,1) 100%);
}

.negative {
	text-shadow: 0 1px 0 rgba(255,255,255,.25);
	background: -moz-linear-gradient(top, #e44034 0%, #c1352a 100%);
	background: -webkit-linear-gradient(top, #e44034 0%,#c1352a 100%);
}

.negative:hover {
	background: -moz-linear-gradient(bottom, #e44034 0%, #c1352a 100%);
	background: -webkit-linear-gradient(bottom, #e44034 0%,#c1352a 100%);
}

.addButton {
	float: right;
	margin-right: 20px;
}

.commentButton {
	width: 24px;
	height: 17px;
	display: inline-block;
	background-image: url("../images/comment.png");
	background-repeat: no-repeat;
	margin: 0 3px;
	vertical-align:middle;
}

.smallButton {
	font-size: 1.2rem;
	font-weight: bold;
	border: none;
	color: #000;
	padding-left: 5px;
	border-radius: 5px;
	text-shadow: 0 1px 0 rgba(255,255,255,.75);
	box-shadow: 0 1px 2px rgba(0,0,0,.37);
}


/*------------------------------------*\
	LIGHTBOX
\*------------------------------------*/

.lightbox {
	background: rgba(250,250,250,.8);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
}

.lightbox > div {
	float: left;
	position: relative;
	background: #fff;
	-moz-box-shadow: 	0 8px 24px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 8px 24px rgba(0,0,0,.3);
	box-shadow: 		0 8px 24px rgba(0,0,0,.3);
	border-radius: 2px;
	margin: 0;
}

.lightbox h1, .lightbox h2, .lightbox h3 {
	margin-top: 0;
}

/*------------------------------------*\
	NAV
\*------------------------------------*/

nav {
	width: 940px;
	margin: 0 auto;
	background: #2b2525;
	height: 40px;
	padding-left:20px;
}

nav li {
	float: left;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav a {
	display: block;
	margin: 5px;
}

#search {
	padding: 5px 0;
	margin: 7px 20px;
	float: right;
}

/*------------------------------------*\
	TABLE
\*------------------------------------*/

.timeLogTable td {
	padding: 5px;
	font-size: 1.5rem;

}

.even {
	background: #eee;
}

.timeLogTable thead {
	display: none;
}

