/*------------------------------------*\
	HEADER
\*------------------------------------*/

header {
	width: 100%;
	height: 100px;
	/*position: fixed;*/
	background-color: #eee;
}

/*------------------------------------*\
	FORMULÄR
\*------------------------------------*/

.vForm input {
	display: block;
	margin: 10px;
	border-radius: 5px;
}

.vForm h1{
	margin: 10px;
}

.vForm {
	margin: 100px auto 0;
	width: 400px;
	font-size: 14px;
	font-size: 1.4rem;
}

.vForm fieldset {
	border-radius: 10px;
	padding: 10% 0% 10% 25% ;
}


/*------------------------------------*\
	LIGHTBOX
\*------------------------------------*/

.lightbox {
	background: rgba(255,255,255,.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
}

.lightbox > div {
	background: #fff;
	box-shadow: 0 8px 24px rgba(0,0,0,.3);
}